@import "tailwindcss";

:root {
  --background: #ffffff;
  /* Pure White */
  --foreground: #000000;
  /* Pure Black */
  --surface: #ffffff;
  --primary: #000000;
  /* Black */
  --secondary: #000000;
  /* Black */
  --accent: #0000ed;
  /* International Klein Blue (sharp accent) */
  --font-serif: var(--font-serif);
  --font-sans: var(--font-montserrat);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);

  --animate-reveal: reveal 1s ease-out forwards;

  @keyframes reveal {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

.stroke-text {
  -webkit-text-stroke: 1px black;
  color: transparent;
}